# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ShaderLibrary.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Demo\Git\ShaderLibrary\.idea\.idea.ShaderLibrary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
